{% extends 'layout.html' %}

{% block heading %}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="{{ url_for('static', filename='current_channel.js') }}"></script>
        <script src="{{ url_for('static', filename='sign_up.js') }}"></script>
        <script src="{{ url_for('static', filename='create_channel.js') }}"></script>
        <script src="{{ url_for('static', filename='bottomFunction.js') }}"></script>
{% endblock %}

{% block body %}
    <div>
      <ul id="messages">
      </ul>
    </div>
    <div>
      <form class = "sticky-bottom" id="new-msg">
        <div class="form-row ml-2">
          <div class="col">
            <input id="msg" autocomplete="off" autofocus placeholder="Type Here" type="text" class="form-control">
          </div>
          <div class="col-auto">
            <input id="submit-msg" type="submit" class="btn btn-primary mb-2 form-control"></input>
          </div>
        </div>
      </form>
     </div>
     <div>
        <button onclick="bottomFunction()" id="myBtn" title="Go to bottom" class="fixed-bottom mx-auto btn btn-info mb-2">Bottom</button>
     </div>


{% endblock %}
