<!DOCTYPE html>
<html>
    <head>
        <script>

            // Set username

              function hello()
              <!document.querySelector('#username').value>
                  document.querySelector('#username_display').innerHTML = 'Goodbye';
              };

        </script>
        <title>ChitChat</title>
    </head>
    <body>
      <div>
      <form id="user_form" >
          <input id="username" autocomplete="off" name="username" autofocus placeholder="Username" type="text">
          <button onclick="hello()">Click Here!</button>
      </form>
      </div>
      <div id=username_display>
      </div>
    </body>
</html>
