<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no">

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>

      <title>ChitChat</title>
      {% block heading %}
      {% endblock %}
    </head>
    <body class="m-2">
    <! Bootstrap drop down menu>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" id = "user_display"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Channels
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for channel in channels %}
                <a class="dropdown-item" data-channel="{{ channel['channel_id'] }}">{{ channel['channel_id'] }}</a>
                {% endfor %}
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" id="create_channel">New Channel</a>
            </li>
          </ul>
        </div>
      </nav>
        {% block body %}
        {% endblock %}
        <script>
        //This script enables for the initial data to load for the page
            //Store most recent messages in varibale
            var messages = {{messages|tojson}};

            //Store current/last used channel
            var selection = localStorage.getItem('current_channel')

            //Generate list on screen
            for (i in messages) {
              //Create new message to be analyzed
              var msg = messages[i];

              //Add messages only if they belong to the current channel
              if(msg["channel"] == selection){
                //Create paragraph item to be added
                var para = document.createElement("P");
                para.innerText = msg["msg"] + "\n" + "Sent by " + msg["user"] + " at " + msg["time"];

                // Add new item to message list
                document.querySelector('#messages').append(para);
              };
            };
        </script>
    </body>
</html>
